.welcome {
  padding: 4rem 0 0;

  &__bg {
    position: absolute;
    top: -50%;
    left: 0;
  }

  &__textbox {
    position: relative;
    text-align: center;

    .heading-primary {
      margin-bottom: 1.2rem;
    }

    .description {
      margin-bottom: 2.4rem;
    }
  }

  &__link {
    @include link;
  }

  &__btn {
    @include btn-text;
    @include mobile-cell;
    @include blue-border;
    background-color: $color-blue-main;
    margin: 0 auto 3rem;
    list-style-type: none;
    font-weight: 600;
    padding: 1.5rem 2rem;
  }
}
