.welcome {
  padding: 7rem 0 0;
  margin-bottom: 3.3rem;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;

  &__bg {
    position: absolute;
    top: -15%;
    left: 20%;
    transform: rotate(-54.311deg);
  }

  &__textbox {
    text-align: center;

    .heading-primary {
      margin-bottom: 1.2rem;
    }

    .description {
      margin-bottom: 2.4rem;
    }
  }

  &__link {
    @include link;
    font-size: $font-size-regular;
  }

  &__btn {
    @include btn-text;
    @include mobile-cell;
    @include blue-border;
    background-color: $color-blue-main;
    margin: 0 auto 3rem;
    list-style-type: none;
    font-weight: 600;
    padding: 1.5rem 2rem;
  }
}
