.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto 3rem;
  height: 6.2vh;
  @include mobile-cell;
  @include blue-border;

  &__logo {
    color: white;
    user-select: none;
    font-size: 4rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
  }

  .lang-button {
    padding-top: 0.2rem;
  }
}
