.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto 0;
  @include mobile-blue-cell;

  &__logo {
    color: white;
    user-select: none;
    font-size: 4rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  .menu {
    display: block;
  }

  .lang-button {
    padding-top: 0.2rem;
  }
}
