.slide-right-in {
  -webkit-animation: slide-right-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-right-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right-in {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right-in {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.slide-right-out-disappear {
  -webkit-animation: slide-right-out-disappear 0.5s ease;
  animation: slide-right-out-disappear 0.5s ease;
}

@-webkit-keyframes slide-right-out-disappear {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80%);
    -webkit-filter: blur(5px);
    transform: translateX(80%);
    filter: blur(5px);
    opacity: 0;
  }
}
@keyframes slide-right-out-disappear {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80%);
    -webkit-filter: blur(5px);
    transform: translateX(80%);
    filter: blur(5px);
    opacity: 0;
  }
}

.slide-left-out-disappear {
  -webkit-animation: slide-left-out-disappear 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left-out-disappear 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

@-webkit-keyframes slide-left-out-disappear {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
    filter: blur(8px);
    opacity: 0;
  }
}
@keyframes slide-left-out-disappear {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
    filter: blur(8px);
    opacity: 0;
  }
}

.slide-top-in-appear {
  -webkit-animation: slide-top-in-appear 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top-in-appear 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top-in-appear {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-top-in-appear {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-filter: blur(8px);
    filter: blur(8px);
    opacity: 0;
  }
}
