@mixin mobile-cell {
  width: 94vw;
  border-radius: 10rem;
  padding: 0 2rem;
}

@mixin blue-border {
  border: 2px solid $color-blue-main;
}

@mixin signup-btn-text {
  display: block;
  text-transform: uppercase;
  text-align: center;
}
