@mixin mobile-cell {
  width: 94vw;
  border-radius: 10rem;
  padding: 1.3rem 2rem;
}

@mixin blue-border {
  border: 2px solid $color-blue-main;
}

@mixin btn-text {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
}

@mixin chipbar {
  width: 100%;
  white-space: nowrap;
  display: flex;
}

@mixin link {
  color: white;
  text-decoration: none;
  font-size: $font-size-regular;
}
