// Colors
$color-purple-additional: #9dadf2;
$color-blue-main: #478bf9;
$color-navy-blue: #110a1d;
$color-deep-blue: #1e1231;

// Font sizes

$font-size-tiny: 1.4rem;
$font-size-small: 1.6rem;
$font-size-regular: 1.8rem;
