.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Lexend", sans-serif; }

body {
  background-color: #110a1d; }

.button {
  background-color: transparent;
  border: 0; }

.hamburger {
  width: 2.1rem;
  height: 1.8rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  cursor: pointer;
  z-index: 9999; }
  .hamburger_open {
    justify-content: center; }
  .hamburger .rotate1,
  .hamburger .rotate2,
  .hamburger .rotate3 {
    width: 100%;
    height: 0.2rem;
    background-color: white;
    transition: transform 0.3s, opacity 0.3s; }
  .hamburger .burger {
    width: 2.1rem;
    height: 0.2rem;
    border-radius: 10rem;
    background-color: white;
    transform-origin: 0.1rem;
    transition: transform 0.3s, opacity 0.3s;
    transform: scaleX(1); }
  .hamburger .rotate1 {
    transform: translateY(-0.4rem) rotate(45deg); }
  .hamburger .rotate2 {
    transform: scaleX(0) rotate(0deg);
    opacity: 0; }
  .hamburger .rotate3 {
    transform: translateY(0.5rem) rotate(-45deg); }
  .hamburger .open .rotate1 {
    transform: translateY(0) rotate(45deg); }
  .hamburger .open .rotate2 {
    transform: scaleX(1) rotate(0deg);
    opacity: 1; }
  .hamburger .open .rotate3 {
    transform: translateY(0) rotate(-45deg); }

.menu {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  gap: 0.45rem; }
  .menu__item {
    width: 94vw;
    border-radius: 10rem;
    padding: 0 2rem;
    border: 2px solid #478bf9;
    display: flex;
    align-items: center;
    padding: 1.2rem 1.9rem; }
  .menu__link {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    text-align: start;
    margin: 0 auto; }
    .menu__link:nth-of-type(6) {
      margin-bottom: 2.6rem; }
  .menu__login {
    width: 94vw;
    border-radius: 10rem;
    padding: 0 2rem;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.6rem;
    padding: 1.2rem 1.9rem;
    border: 2px solid #9dadf2;
    background-color: #1e1231; }
  .menu__sign-up {
    width: 94vw;
    border-radius: 10rem;
    padding: 0 2rem;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.6rem;
    padding: 1.1rem 1.9rem;
    background-color: #478bf9; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto 3rem;
  height: 6.2vh;
  width: 94vw;
  border-radius: 10rem;
  padding: 0 2rem;
  border: 2px solid #478bf9; }
  .header__logo {
    color: white;
    user-select: none;
    font-size: 4rem; }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem; }
  .header .lang-button {
    padding-top: 0.2rem; }
